{% extends "layouts/dashboard_base.html" %}

{% block title %}
Assessment Workspace
{% endblock %}

{% block dashboard_content %}

{% include "components/page_header.html" with title=assessment.project_name subtitle=assessment.customer.full_name %}

{% include "audits/partials/assessment_summary.html" %}

<div class="row mb-4">

    {% include "components/cards/metric_card.html" with title="Connected Load" value=connected_load icon="bi-lightning-fill" footer="Watts" %}

    {% include "components/cards/metric_card.html" with title="Daily Energy" value=daily_energy icon="bi-battery-full" footer="Wh/day" %}

    {% include "components/cards/metric_card.html" with title="Peak Load" value=peak_load icon="bi-speedometer2" footer="Watts" %}

    {% include "components/cards/metric_card.html" with title="Appliances" value=total_appliances icon="bi-list-ul" footer="Connected" %}

</div>

<div class="card shadow-sm border-0 mb-4">

    <div class="card-body">

        <div class="row">

            <div class="col-md-3">

                <h6>Customer</h6>

                <strong>{{ assessment.customer.name }}</strong>

            </div>

            <div class="col-md-3">

                <h6>Location</h6>

                {{ assessment.customer.city }}

            </div>

            <div class="col-md-3">

                <h6>Status</h6>

                <span class="badge bg-success">

                    {{ assessment.status }}

                </span>

            </div>

            <div class="col-md-3">

                <h6>Date</h6>

                {{ assessment.created_at|date:"d M Y" }}

            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-lg-8">

        {% include "audits/partials/appliance_table.html" %}

    </div>

    <div class="col-lg-4">

        {% include "audits/partials/recommendation_panel.html" %}

    </div>

</div>

<!-- Bill of Materials -->
<div class="row mt-4">

    <div class="col-12">

        {% include "audits/partials/bom_panel.html" %}

    </div>

    <a
        href="{% url 'reports:detail' assessment.pk %}"
        class="btn btn-primary">
        <i class="bi bi-file-earmark-text"></i>
        Generate Report

    </a>

    <a href="{% url 'quotations:generate' assessment.pk %}"
       class="btn btn-success">
        <i class="bi bi-file-earmark-text"></i>
        Generate Quotation
    </a>

</div>

{% endblock %}