{% load static %}


<html lang="en">

<head>

    <link
    rel="stylesheet"
    href="{% static 'customer/css/customer.css' %}">

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>

        {% block title %}
            Cloud Energy
        {% endblock %}

    </title>

    <link
        href="{% static 'css/bootstrap.min.css' %}"
        rel="stylesheet">

    <link
        href="{% static 'customer/css/customer.css' %}"
        rel="stylesheet">

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

</head>

<body class="customer-body">

    {% include "includes/customer/header.html" %}

    <main class="customer-main">

        {% block customer_content %}
        {% endblock %}

    </main>

    {% include "includes/customer/footer.html" %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'customer/js/customer.js' %}"></script>

    {% block extra_js %}
    {% endblock %}

<script src="{% static 'customer/js/customer.js' %}"></script>

</body>

</html>