{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1">

    <title>

        {% block title %}
            Cloud Energy Customer Portal
        {% endblock %}

    </title>

    <!-- Favicon -->

    <link
        rel="icon"
        href="{% static 'images/favicon.ico' %}">

    <!-- Bootstrap -->

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
    crossorigin="anonymous">

    <!-- Bootstrap Icons -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        rel="stylesheet">

    <!-- Customer Theme -->

    <link
        href="{% static 'customer/css/customer.css' %}"
        rel="stylesheet">

    {% block extra_css %}
    {% endblock %}

</head>

<body class="customer-body">

<div class="customer-wrapper">

    {% include "includes/customer/header.html" %}

    <main class="customer-main">

        {% block customer_content %}
        {% endblock %}

    </main>

    {% include "includes/customer/footer.html" %}

</div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

<script src="{% static 'customer/js/customer.js' %}"></script>

{% block extra_js %}
{% endblock %}

{% include "includes/session_timeout.html" %}

<script src="{% static 'js/session_timeout.js' %}"></script>

</body>

</html>