{% extends "base.html" %}

{% block title %}
Customer
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">

        <h3>Customer Information</h3>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">

                Save Customer

            </button>

            <a href="{% url 'customers:list' %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}