<div class="card shadow-sm border-0">

    <div class="card-header bg-white">

        <div class="d-flex justify-content-between align-items-center">

            <div>

                <h5 class="mb-0">

                    <i class="bi bi-plug-fill text-success"></i>

                    Connected Appliances

                </h5>

                <small class="text-muted">

                    Appliances used for system sizing

                </small>

            </div>

            <a href="{% url 'audits:appliance-add' assessment.pk %}"
               class="btn btn-success">

                <i class="bi bi-plus-circle"></i>

                Add Appliance

            </a>

        </div>

    </div>

    <div class="card-body">

        <div class="row mb-3">

            <div class="col-md-4">

                <input
                    type="search"
                    class="form-control"
                    placeholder="Search appliance...">

            </div>

        </div>

        <div class="table-responsive">

            <table class="table table-hover align-middle">

                <thead class="table-light">

                    <tr>

                        <th>Appliance</th>

                        <th class="text-center">Qty</th>

                        <th class="text-end">Power (W)</th>

                        <th class="text-end">Surge Load (W)</th>

                        <th class="text-center">Hours</th>

                        <th class="text-end">Daily Energy (KWh)</th>

                        <th width="120"></th>

                    </tr>

                </thead>

                <tbody>

                    {% for item in items %}

                    <tr>

                        <td>

                            <strong>

                                {{ item.library_appliance.name }}

                            </strong>

                            <br>

                            <small class="text-muted">

                                {{ item.library_appliance.category }}

                            </small>

                        </td>

                        <td class="text-center">

                            {{ item.quantity }}

                        </td>

                        <td class="text-end">

                           {{ item.power_rating }} W

                        </td>

                        <td class="text-end">

                            {{ item.surge_load }}

                        </td>

                        <td class="text-center">

                            {{ item.hours_per_day }} hrs

                        </td>

                        <td class="text-end">

                             {{ item.daily_energy_kwh|floatformat:2 }} kWh

                        </td>

                        <td class="text-end">

                            <div class="btn-group">

                                <a
                                    href="{% url 'audits:appliance-update' item.pk %}"
                                    class="btn btn-sm btn-warning">

                                    <i class="bi bi-pencil"></i>

                                </a>

                                <a
                                    href="{% url 'audits:appliance-delete' item.pk %}"
                                    class="btn btn-sm btn-danger">

                                    <i class="bi bi-trash"></i>

                                </a>

                            </div>

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="7" class="text-center py-5">

                            <i class="bi bi-lightning-charge display-4 text-secondary"></i>

                            <h5 class="mt-3">

                                No appliances added

                            </h5>

                            <p class="text-muted">

                                Click <strong>Add Appliance</strong> to begin
                                calculating your solar system.

                            </p>

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

                <tfoot class="table-light">

                <tr>

                    <th colspan="5" class="text-end">

                        Total Daily Energy

                    </th>

                    <th class="text-end">

                        {{ daily_energy|floatformat:2 }} kWh

                    </th>

                    <th></th>

                </tr>

                </tfoot>

            </table>

        </div>

    </div>

</div>