<div class="col-lg-6">

<div class="card shadow-sm mb-4">

<div class="card-header bg-primary text-white">

<h5 class="mb-0">

Engineering Summary

</h5>

</div>

<div class="card-body">

<div class="row">

<div class="col-6 mb-3">

<div class="metric-box">

<small>

Connected Load

</small>

<h3>

{{ object.connected_load }}

<small>W</small>

</h3>

</div>

</div>

<div class="col-6 mb-3">

<div class="metric-box">

<small>

Running Load

</small>

<h3>

{{ object.running_load }}

<small>W</small>

</h3>

</div>

</div>

<div class="col-6 mb-3">

<div class="metric-box">

<small>

Surge Load

</small>

<h3>

{{ object.total_surge_load }}

<small>W</small>

</h3>

</div>

</div>

<div class="col-6 mb-3">

<div class="metric-box">

<small>

Critical Load

</small>

<h3>

{{ object.total_critical_load }}

<small>W</small>

</h3>

</div>

</div>

<div class="col-12">

<div class="metric-box success">

<small>

Daily Energy

</small>

<h2>

{{ object.daily_energy }}

<small>Wh/day</small>

</h2>

</div>

</div>

</div>

</div>

</div>

</div>