{% extends "layouts/base.html" %}

{% block title %}
Manufacturer
{% endblock %}

{% block content %}

{% include "components/page_header.html" with title="Manufacturer" subtitle="Create or Update Manufacturer" %}

<div class="card shadow-sm border-0">

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <div class="row">

                {% for field in form %}

                <div class="col-md-6 mb-3">

                    <label class="form-label">

                        {{ field.label }}

                    </label>

                    {{ field }}

                    {% if field.errors %}

                        <div class="text-danger small">

                            {{ field.errors }}

                        </div>

                    {% endif %}

                </div>

                {% endfor %}

            </div>

            <hr>

            <button class="btn btn-success">

                <i class="bi bi-check-circle"></i>

                Save Manufacturer

            </button>

            <a href="{% url 'equipment:manufacturers-list' %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}